.nav {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-evenly;
   margin: 3rem;
}
.searchForm input,
.searchForm button,
.nav-bar select,
.nav button {
   background-color: #212121;
   color: white;
   font-size: 0.8rem;
   padding: 0.3rem;
}
.nav-bar a {
   text-decoration: none;
   color: white;
}
.nav-bar h1 {
   -webkit-text-stroke: 1px white;
   color: #00b7ff;
   font-size: 4rem;
   text-shadow: 0 0 60px #00b7ff;
}
.reload-button {
   padding: 0.3rem;
}
@media screen and (max-width: 768px) {
   .nav {
      flex-direction: column;
      align-items: center;
      margin: 1.4rem;
   }
   .nav-bar h1 {
      font-size: 3rem;
   }
   .searchBar,
   .nav-bar .api-db,
   .create-button {
      margin: 1rem 0;
   }
   .reload-button {
      font-size: 1rem;
   }
}
